body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 90vw;
  transition: 0.5s;
  transition-timing-function: ease-in;
}

#main {
  background-color: transparent;
  border-radius: 4px;
  border:1px solid #f1f1f1;
  box-shadow: 0 0 5px 2px #66b3ff inset;
  height: 45%;
  width: 48%;
  padding: 2rem;
  transition: main 1s;
}

#main:hover {
  box-shadow: 0 10px 10px #66b3ff;
}

.container {
  text-align: center;
  /* width: 80%; */
  height: 40%;
  /* padding: 2rem; */
}

.buttons {
display: flex;
justify-content: space-between;
margin-top: 1em;
}

.next {
  background-color: #66b3ff;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.twitter {
  border-radius: 4px;
  border: 1px solid rgb(102, 179, 255);
  background-color: rgb(102, 179, 255);
  color: white ;
  text-align: center;
  align-items: center;
  font-size: 1.4em;
  /* padding: .1rem; */
  margin: 0;
    width: 60px;
  height: 35px;
  vertical-align:middle;
  display: table-cell;
}

h2, .author {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: color 1s;
}

.author {
  font-weight: bolder;
}

hr {
  border: .1px solid #66b3ff;
  opacity: .7;
}
